.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 6rem 8%;
  background: #A8C7FA;
  align-items: center;
}

.image img {
  width: 75%;
  border-radius: 18px;
}

.text h1 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  color: #0f3d2e;
}

.text h3 {
  font-weight: 500;
  margin-bottom: 1rem;
  color: #333;
}

.text p {
  color: #555;
  line-height: 1.6;
}

@media (max-width: 900px) {
  .section {
    grid-template-columns: 1fr;
  }
}
