.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 2rem 8%;
  background: black;
  color: #fff;
  align-items: center;
}

.image img {
  width: 75%;
  border-radius: 18px;
}

.text h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: #013927;
}

.text h3 {
  color: #ccc;
  font-weight: 350;
  font-size: 2rem;
}

@media (max-width: 900px) {
  .section {
    grid-template-columns: 1fr;
  }
}

.primary {
  padding: 0.9rem 2.8rem;
  background: #013927;
  color: #ffffff;
  font-weight: 600;
  border-radius: 999px;
}

.primary:hover {
  background: #0f6b4a;
}

.secondary {
  padding: 0.9rem 2.8rem;
  border: 1px solid #ffffff;
  border-radius: 999px;
  font-weight: 600;
}
.secondary:hover {
  background: rgba(1, 57, 39, 0.1);
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}